body {
    margin: 0;
}

.banner {
    background-image: url('/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin-left: 72px;
    margin-top: -11px;
    display: flex;
}

.logo{
    display: flex;
    align-items: center;

}

.blue-banner{
    width: 300px;
    height: 30px;
    text-align: center;
    background-color: #012A4A;
    color: white;
    padding: 10px;
    border-radius: 30px 0;
}
.yellow-banner{
    width: 262px;
    height: 76px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    background-color:#F0E615;
    color:#003B60;
    padding: 10px;
    border: 0;
    border-radius: 70px 0;
}

.blue{
    color:#003B60;
    font-size: 60px;
    font-weight: 400;
}

.center-text{
    padding-top: 0;
    width: 1290px;
    height: 96px;
    margin-left: 315px;
    color: #003B60;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
    position: absolute;
}

.mid-section{
    display: flex;
    gap: 94px;
    justify-content: center;
    position: relative;
    bottom: -300px;
}

.jeans{
   font-size: 24px;
   color: #003B60;
}


.details-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

.jeans-details{
    display: flex;
    align-items: center;
    gap: 17px;
    color: #003B60;
}

.denim-text{
    font-size: 50px; 
    text-align: center;
    color: white;
    position: relative;
    top: -400px;
}

.jeans-bg-section{
    background-image: url('/images/Rectangle\ 5.png');padding-bottom: 300px;
    position: relative;
    top: -380px;
}

.jeans-bg{
    background-color: white; 
    border-radius: 50px 0;
    padding: 29px;
    box-shadow: 18px -27px #00000004;
}

.jeans-bg-div{
    padding-top: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.specification{
    text-align: center; 
    font-size: 44px; 
    color: #003B60; 
    margin-left: 600px;
}

.twisted{
    text-align: center;
    padding: 30px;
    padding-top: 0;
    position: relative;
    top: -600px;
    margin-bottom: 0;
}

.play-btn{
    text-align: center;
    position: relative;
    top: -1100px;
    margin-bottom: 0;
}

.security{
    position: relative;
    top: -700px;
}

.product{
    color: #003B60;
    font-size: 24px;
    border: 1px solid #003B60;
    width: 839px;
    padding: 20px;
}

.cards{
    display: flex; 
    flex-direction: column; 
    background-color: #F0F9FF; 
    position: relative; 
    top: -335px;
}

.card{
    display: flex;
    gap: 20px;
    margin-left: 315px;
}

.card-div{
    border: 1px solid #003B60; 
    text-align: center; 
    width: 392px; 
    border-radius: 50px 0; 
    padding: 10px;
}

.order{
    background-image: url(/images/918\ 1.png); 
    position: relative; 
    top: -335px;
}

.order-linear{
    background: linear-gradient(360deg, #003b6079 15.39%, rgb(0, 59, 96) 131.97%);  
    padding-top: 20px; 
    padding-bottom: 150px;
}

.order-div{
    display: flex; 
    gap: 20px; 
    justify-content: center; 
    align-items: flex-start;
}

.order-div-1{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.privacy-div{
    margin-left: 220px; 
    padding-bottom: 0; 
    padding-top: 0; 
    position: absolute; 
    bottom: -100px;
}

.privacy{
    background-color: #003B60; 
    border-radius: 50px 0; 
    height: 277px; 
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    width: 1300px; 
    padding: 100px; 
    padding-top: 0; 
    padding-bottom: 0;
}

.footer{
    background-image: url(/images/roll-blue-denim-jeans-arranged-stack-wall-beauty-fashion-clothing-concept\ 1.png);
    width: 1920px ; 
    height: 399px; 
    position: absolute; 
    bottom: 50px; 
    z-index: -1;
}
.footer-linear{
    background: linear-gradient(0deg, #003B60 21.93%, rgba(0, 59, 96, 0) 107.27%); 
    height: 399px;
}